	body{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: fffff;
	    height: 100vh;
		width: 100vw;
		margin: 0;
		overflow: hidden;
		
		}
		.main{
			background-color: #ffffff;
			border: 3px rgb(73, 71, 71) solid;
			padding: 20px;
			border-radius: 10px;
			text-align: center;
			max-width: 1000px;

		}

	p{
		font-size: smaller;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	/* input {		    
		    font-size: 1px;
			text-align: center;	
		} */

		input:focus {
			outline: none;
			border: 3px solid #9db8f5;
		  }

		 input:not(:placeholder-shown) {
			box-shadow: 0 5px 11px 0px grey;
			border: 2px solid #bcd6ed;
			}
		
		  .code{
					border-radius: 5px;
					font-size: 60px;
					height: 90px;
					width: 69px;
					border: 1.5px solid lightgrey;
					text-align: center;
					font-weight: 300;
					margin: 1%;
		  }

.box4{ 
	   display: flex;
	   justify-content: space-evenly;
	   padding: 10px 30px 10px 30px;
    
}
.box5 {
	  display: flex;
	   justify-content: center;
}
p.note{
	
    font-size: 11px;
    background-color: #eeeeee;
    color: #777777b0;
    border-radius: 5px;
    padding: 10px;
	margin: 0;
	margin-top: 20px;
    /* line-height: 15px; */
	   
}
